.bush {
  position: fixed;
  width: min(11vw, 137.5px);
  height: min(12.5vw, 156px);
  margin: 0px 0px min(2vw, 25px) min(1vw, 12.5px);
  background-color: greenyellow;
  border-radius: 5px;
  transition: 0.4s ease;
}
.bush:hover {
  opacity: 0.7;
}
