.bush {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -58.5%);
  width: min(11vw, 137.5px);
  height: min(12.5vw, 156px);
  background-color: greenyellow;
  border-radius: 5px;
  transition: 0.4s ease;
}

.bush:hover {
  opacity: 0.7;
}
